<% include templates/head %>

  <div class="columns">
  <div class="column"></div>
    <div class="column">
      <a href="/foods"><div class="box"><h2 class="title">Manage Food Inventory</h2></div></a>
      <a href="/order"><div class="box"><h2 class="title">Order Foods</h2></div></a>
    </div>
    <div class="column"></div>
  </div>

<% include templates/footer %>
