<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bulma/css/bulma.min.css' />
    <script src="/jquery/jquery.min.js"></script>
  </head>
  <body class="layout-documentation page-grid">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Node + MySQL + Bulma Framework + Unicode Bangla Demo Site
      </h1>
      <h2 class="subtitle">
        Developed by Noman Hasan
      </h2>
    </div>
  </div>